<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMovieDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_details.css') }}">
</head>

<body>
    <header>
        <h1>DBMi</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {% if 'user_id' in session %}
        <a href="/logout">Logout</a>
        <a href="/watchlist">Watchlist</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Create account</a>
        {% endif %}
        <div class="search-container">
            <form action="/search" method="GET" accept-charset='utf-8'>
                <input type="text" name="query" placeholder="Search for a movie...">
                <input type="submit" value="Search">
            </form>
        </div>
        <a href="/advancedsearch">Advanced Search</a>
    </nav>
    <div class="container full-width">
        <div class="movie half-width">
            <h3>{{ details.title }}</h3>
            <p>{{ details.categories }}</p>
            <p><strong>Overview</strong></p>
            <p>{{ details.overview }}</p>
            <p>Length: {{ details.length }}</p>
            <p>{{ details.date }}</p>
            <p>rating average: {{ average_rating }}</p>
            <form action="/add/{{ details.entries_id }}" method="POST">
                <input type="hidden" name="entries_id" value="{{ details.entries_id }}">
                <button type="submit">Add to Watchlist</button>
            </form>
        </div>
        <div class='review half-width'>
            <form action="/review/{{ details.entries_id }}" method="POST" accept-charset='utf-8'>
                <input type="text" name="query" placeholder="Add review..." style="width: 300px; height: 40px;">
                <input type="number" id="rating" name="rating" min="1" max="10" value="5"
                    style="width: 80px; height: 40px;">
                <input type="submit" value="Post">
            </form>
            {% for review in reviews %}
            <p>{{ review.body }}</p>
            <p>date: {{ review.creation_date }} - rating: {{review.rating}} - author: {{review.pseudo}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="recommendations">
        <h2>Similar movies</h2>
        {% for movie in similar_movies %}
        <a href="/movie/{{ movie.entries_id }}" class="details-link">
            <div class="movie">
                <h3>{{ movie.title }}</h3>
                <p>{{ movie.date }}</p>
                <p><strong>Overview</strong></p>
                <p>{{ movie.overview }}</p>
                <form action="/add/{{ movie.entries_id }}" method="POST">
                    <input type="hidden" name="entries_id" value="{{ movie.entries_id }}">
                    <button type="submit">Add to Watchlist</button>
                </form>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>
