body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a237e; 
    color: #fff; 
    padding: 10px;
    text-align: center;
    background-image: url('purple_flames.png'); 
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #100c08;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FCF7F8; 
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

nav .search-container{
    margin-left: auto; 
    display: inline-block;
}

.movie {
    background-color: #fff;
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #dbd7d2;
}

.movie img {
    max-width: 100px;
    float: left;
    margin-right: 20px;
}

.movie h3 {
    margin-top: 0;
}

.movie p {
    margin: 5px 0;
}

.movie.full-width {
    max-width: none;
    margin: 0;
    padding: 0;
}

.recommendations {
    background-color: #f3f3f3;
    padding: 20px;
}

.recommendations h3 {
    margin-top: 0;
}

.recommendations ul {
    list-style-type: none;
    padding: 0;
}

.recommendations li {
    margin-bottom: 10px;
}
