body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a237e;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-image: url('purple_flames.png');
    background-size: cover;
    background-position: center;
}

nav {
    background-color: #100c08;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FCF7F8;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

nav .search-container {
    margin-left: auto;
    display: inline-block;
}

.details-link{
    text-decoration: none; 
    color: inherit;
}

.container {
    display: flex;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px; /* Optional: Add padding to the container*/
    max-height: calc(100vh - 60px - 40px); /* Full height minus header and nav heights */
}

.container.full-width {
    max-width: none;
    margin: 0;
    padding: 0;
}

.movie, .review {
    flex: 1;
    margin: 10px; /* Optional: Add margin to separate the columns */
}

.movie {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    background-color: #dbd7d2;
}

.movie h3 {
    margin-top: 0;
}

.movie p {
    margin: 5px 0;
}

.review {
    background-color: #fff;
    border-radius: 5px;
    width: 100% - .movie.width;
    padding: 10px;
    background-color: #dbd7d2;
    max-height: 500px; /* Set a maximum height for the review container */
    overflow-y: auto; /* Enable vertical scrolling */
}

.review form {
    margin-bottom: 20px; /* Space between form and reviews */
}

.review p {
    margin: 5px 0;
}

.recommendations {
    background-color: #f3f3f3;
    padding: 20px;
}

.recommendations h3 {
    margin-top: 0;
}

.recommendations ul {
    list-style-type: none;
    padding: 0;
}

.recommendations li {
    margin-bottom: 10px;
}

